<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre</h2>
                    <p class="section-subheading text-muted">A Agência Lituus nasceu do desejo de seus dois sócios em entregar produtos de tecnologias web modernos e arrojados e de levar ao mercado uma agência digital</p>
                    <p class="section-subheading text-muted">confiável e inovadora, nós temos práticas que ajudam o cliente a criar formas de realmente diferenciá-lo no mundo dos negócios</p>
                    <p class="section-subheading text-muted">através de processos ágeis que foram desenvolvidos pela própria Lituus.</p>
                    <!--h3 class="section-subheading text-muted">A Agência Lituus nasceu do desejo de seus três sócios em entregar produtos de tecnologia web confiáveis e modernos e de levar ao mercado uma agência digital confiável e inovadora, nós temos práticas que ajudam o cliente a criar formas de realmente diferenciá-lo no mercado através de processos e praticas ágeis que foram desenvolvidos pela própria Lituus.</h3-->
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">O Encontro</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Fernando e Henrique se econtraram em Fevereiro numa proposta de um grupo de empreededores que se juntaram para fundar uma Organização em Rede, onde o poder é distribuído e compartilhado.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>MARÇO</h4>
                                    <h4 class="subheading">A Parceria</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Um Hacker Desenvolvedor e um Especialista em Marketing Digital decidiram unir forças no desenvolvimento de projetos digitais.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>MAIO</h4>
                                    <h4 class="subheading">O Nascimento</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nasce a Lituus, uma Agência Digital com escritórios em Porto Alegre e Florianópolis.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Faça a
                                    <br>Nossa
                                    <br>História!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
