<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nossos Serviços</h2>
                    <br>
                    <h4 class="section-subheading text-muted"><strong>"Servimos com excelência e somos gratos em servir."</strong></h4>
                    <p class="section-subheading text-muted">Indivíduos e interação entre eles, mais que processos e ferramentas.</p>
                    <p class="section-subheading text-muted">Software em funcionamento, mais que documentação abrangente.</p>
                    <p class="section-subheading text-muted">Colaboração com o cliente, mais que negociação de contratos.</p>
                    <p class="section-subheading text-muted">Responder a mudanças, mais que seguir um plano.</p>
                    <p class="section-subheading text-muted">Ou seja, mesmo havendo valor nos itens à direita, valorizamos mais os itens à esquerda.</p>
                    <a href="http://manifestoagil.com.br">(Manisfesto Ágil)</a>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desnvolvimento e Design</h4>
                    <p class="text-muted">Websites, Hotsites, Landing Pages, Lojas Virtuais e Peças de mídia Online. Nossos projetos são customizados, focados na entrega de valor e no relacionamento com o cliente.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-mail Marketing</h4>
                    <p class="text-muted">Ferramenta ideal para gerar resultados no seu negócio.</p>
                    <p class="text-muted">Entretanto, é preciso utilizá-la com uma estratégia exclusiva, pensar quando, como e a quantidade de informativos por e-mail.</p>
                    <p class="text-muted">Fazer um bom design e ter uma lista atualizada, e se possível com segmentação para suas campanhas lhe trará ótimos resultados.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa  fa-tachometer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SEO</h4>
                    <p class="text-muted">Se você já possui um website e deseja ser melhor "rankeado" na internet, podemos lhe ajudar. O SEO é a otimização de uma página (ou até do site inteiro) para que seja fisgado pelas ferramentas de busca (principalmente o Google é claro!).</p>
                </div>
            </div>
        </div>
    </section>
